.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    height:50px;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}